<a href="https://colab.research.google.com/github/lupuentes33/DATA_23/blob/main/internet_(EXAM2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1 align = "center">
<strong> Universidad de La Salle </strong>
</h1>

<h1 align = "center">
<strong> International bussiness and relations Program </strong>
</h1>

<h1 align = "center">
<strong> Data Visualization  </strong>
<h1 align = "center">
<strong> Project second part  </strong>

##1. INTRODUCTION ##

In [40]:
# Libraries

import numpy as np
import pandas as pd
import plotly.express as px

In [43]:
p = "/content/excel final 2 variables.xls"
d = pd.read_excel(p)
d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55 entries, 0 to 54
Data columns (total 9 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Country Name                 55 non-null     object
 1   TIME                         55 non-null     int64
 2   Country Code                 55 non-null     object
 3   Indicator Name PHONE         55 non-null     object
 4   Indicator Code               55 non-null     object
 5   values SETS                  55 non-null     float64
 6   Indicator Name Banda ancha   55 non-null     object
 7   Indicator Code.1             55 non-null     object
 8   values BBND                  55 non-null     float64
dtypes: float64(2), int64(1), object(6)
memory usage: 4.0+ KB

In [44]:
# check the first entries
d.head()

,Country Name,TIME,Country Code,Indicator Name PHONE,Indicator Code,values SETS,Indicator Name Banda ancha,Indicator Code.1,values BBND
0,China,1995,CHN,Suscripciones a telefonía celular móvil (por c...,IT.CEL.SETS.P2,0.297912,Suscripciones a banda ancha fija (por cada 100...,IT.NET.BBND.P2,0.0
1,China,1996,CHN,Suscripciones a telefonía celular móvil (por c...,IT.CEL.SETS.P3,0.557926,Suscripciones a banda ancha fija (por cada 100...,IT.NET.BBND.P3,0.0
2,China,1997,CHN,Suscripciones a telefonía celular móvil (por c...,IT.CEL.SETS.P4,1.069073,Suscripciones a banda ancha fija (por cada 100...,IT.NET.BBND.P4,0.0
3,China,1998,CHN,Suscripciones a telefonía celular móvil (por c...,IT.CEL.SETS.P5,1.913884,Suscripciones a banda ancha fija (por cada 100...,IT.NET.BBND.P5,0.0
4,China,1999,CHN,Suscripciones a telefonía celular móvil (por c...,IT.CEL.SETS.P6,3.448690,Suscripciones a banda ancha fija (por cada 100...,IT.NET.BBND.P6,0.0

In [45]:
# chack the last entries
d.tail()

,Country Name,TIME,Country Code,Indicator Name PHONE,Indicator Code,values SETS,Indicator Name Banda ancha,Indicator Code.1,values BBND
50,Estados Unidos,2001,USA,Suscripciones a telefonía celular móvil (por c...,IT.CEL.SETS.P52,45.013409,Suscripciones a banda ancha fija (por cada 100...,IT.NET.BBND.P52,4.481308
51,Estados Unidos,2002,USA,Suscripciones a telefonía celular móvil (por c...,IT.CEL.SETS.P53,49.176305,Suscripciones a banda ancha fija (por cada 100...,IT.NET.BBND.P53,6.894930
52,Estados Unidos,2003,USA,Suscripciones a telefonía celular móvil (por c...,IT.CEL.SETS.P54,55.180894,Suscripciones a banda ancha fija (por cada 100...,IT.NET.BBND.P54,9.530541
53,Estados Unidos,2004,USA,Suscripciones a telefonía celular móvil (por c...,IT.CEL.SETS.P55,62.874751,Suscripciones a banda ancha fija (por cada 100...,IT.NET.BBND.P55,12.707191
54,Estados Unidos,2005,USA,Suscripciones a telefonía celular móvil (por c...,IT.CEL.SETS.P56,68.622210,Suscripciones a banda ancha fija (por cada 100...,IT.NET.BBND.P56,17.233489

#**3.cleaning**

In [57]:
# change names 

d.rename(columns = {"TIME " : "year"}, inplace = True)

d.rename(columns = {"Country Name" : "country"}, inplace = True)

d.rename(columns = {"values SETS" : "values sets"}, inplace = True)


d.rename(columns = {"values BBND" : "values bbnd"}, inplace = True)



d.head()

,country,year,Country Code,Indicator Name PHONE,Indicator Code,values sets,Indicator Name Banda ancha,Indicator Code.1,values bbnd
0,China,1995,CHN,Suscripciones a telefonía celular móvil (por c...,IT.CEL.SETS.P2,0.297912,Suscripciones a banda ancha fija (por cada 100...,IT.NET.BBND.P2,0.0
1,China,1996,CHN,Suscripciones a telefonía celular móvil (por c...,IT.CEL.SETS.P3,0.557926,Suscripciones a banda ancha fija (por cada 100...,IT.NET.BBND.P3,0.0
2,China,1997,CHN,Suscripciones a telefonía celular móvil (por c...,IT.CEL.SETS.P4,1.069073,Suscripciones a banda ancha fija (por cada 100...,IT.NET.BBND.P4,0.0
3,China,1998,CHN,Suscripciones a telefonía celular móvil (por c...,IT.CEL.SETS.P5,1.913884,Suscripciones a banda ancha fija (por cada 100...,IT.NET.BBND.P5,0.0
4,China,1999,CHN,Suscripciones a telefonía celular móvil (por c...,IT.CEL.SETS.P6,3.448690,Suscripciones a banda ancha fija (por cada 100...,IT.NET.BBND.P6,0.0

#4.Delete columns

In [58]:
# two columns that do not add information and do not affect the database will be removed from the database 
d = d.drop(columns = ["Indicator Code", "Indicator Code.1"])

d.head()

,country,year,Country Code,Indicator Name PHONE,values sets,Indicator Name Banda ancha,values bbnd
0,China,1995,CHN,Suscripciones a telefonía celular móvil (por c...,0.297912,Suscripciones a banda ancha fija (por cada 100...,0.0
1,China,1996,CHN,Suscripciones a telefonía celular móvil (por c...,0.557926,Suscripciones a banda ancha fija (por cada 100...,0.0
2,China,1997,CHN,Suscripciones a telefonía celular móvil (por c...,1.069073,Suscripciones a banda ancha fija (por cada 100...,0.0
3,China,1998,CHN,Suscripciones a telefonía celular móvil (por c...,1.913884,Suscripciones a banda ancha fija (por cada 100...,0.0
4,China,1999,CHN,Suscripciones a telefonía celular móvil (por c...,3.448690,Suscripciones a banda ancha fija (por cada 100...,0.0

In [59]:
# (optional) duplicate the dataframe
dd = d

In [60]:
# Duplicate year variable 
dd["year_str"] = dd["year"].astype(str)

#check
dd.head()

,country,year,Country Code,Indicator Name PHONE,values sets,Indicator Name Banda ancha,values bbnd,year_str
0,China,1995,CHN,Suscripciones a telefonía celular móvil (por c...,0.297912,Suscripciones a banda ancha fija (por cada 100...,0.0,1995
1,China,1996,CHN,Suscripciones a telefonía celular móvil (por c...,0.557926,Suscripciones a banda ancha fija (por cada 100...,0.0,1996
2,China,1997,CHN,Suscripciones a telefonía celular móvil (por c...,1.069073,Suscripciones a banda ancha fija (por cada 100...,0.0,1997
3,China,1998,CHN,Suscripciones a telefonía celular móvil (por c...,1.913884,Suscripciones a banda ancha fija (por cada 100...,0.0,1998
4,China,1999,CHN,Suscripciones a telefonía celular móvil (por c...,3.448690,Suscripciones a banda ancha fija (por cada 100...,0.0,1999

#4. Indexing

In [61]:
#create an index
#idx = pd.MultiIndex.from_product([dd["country"].unique(),
                                # range(dd.year.min(),dd.year,max()+1)],
                                # names = ["country" , "year"])
#index the dataframe
dd = dd.set_index(["country","year"])

#check
dd.head()

             Country Code                              Indicator Name PHONE   \
country year
China   1995          CHN  Suscripciones a telefonía celular móvil (por c...
        1996          CHN  Suscripciones a telefonía celular móvil (por c...
        1997          CHN  Suscripciones a telefonía celular móvil (por c...
        1998          CHN  Suscripciones a telefonía celular móvil (por c...
        1999          CHN  Suscripciones a telefonía celular móvil (por c...

              values sets                        Indicator Name Banda ancha   \
country year
China   1995     0.297912  Suscripciones a banda ancha fija (por cada 100...
        1996     0.557926  Suscripciones a banda ancha fija (por cada 100...
        1997     1.069073  Suscripciones a banda ancha fija (por cada 100...
        1998     1.913884  Suscripciones a banda ancha fija (por cada 100...
        1999     3.448690  Suscripciones a banda ancha fija (por cada 100...

              values bbnd year_str
country year
China   1995          0.0     1995
        1996          0.0     1996
        1997          0.0     1997
        1998          0.0     1998
        1999          0.0     1999

#5. Basic Statistics#

In [64]:
# By variable
dd[["values sets","values bbnd"]].describe()

       values sets  values bbnd
count    55.000000    55.000000
mean     17.067377     1.236345
std      17.682836     3.221819
min       0.297912     0.000000
25%       3.420104     0.000000
50%      11.362506     0.022624
75%      25.391741     0.785391
max      68.622210    17.233489

In [71]:
#By variable and type 
dd[["values bbnd", "values sets"]].groupby("year").describe()

     values bbnd                                                              \
           count      mean       std       min       25%       50%       75%
year
1995         5.0  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
1996         5.0  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
1997         5.0  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
1998         5.0  0.051183  0.114448  0.000000  0.000000  0.000000  0.000000
1999         5.0  0.197369  0.441170  0.000000  0.000000  0.000000  0.000286
2000         5.0  0.509459  1.114740  0.001793  0.004044  0.015326  0.022624
2001         5.0  0.918550  1.991726  0.000000  0.026422  0.034716  0.050305
2002         5.0  1.520978  3.004924  0.086241  0.136827  0.229382  0.257508
2003         5.0  2.263221  4.071031  0.156940  0.339959  0.418211  0.870451
2004         5.0  3.353734  5.261347  0.305206  0.815985  1.017147  1.923142
2005         5.0  4.785302  7.002739  0.754798  1.252775  1.823130  2.862316

                values sets                                              \
            max       count       mean        std        min        25%
year
1995   0.000000         5.0   2.968995   5.454596   0.297912   0.300801
1996   0.000000         5.0   4.056339   6.893417   0.557926   0.806880
1997   0.000000         5.0   5.659518   8.232236   1.069073   1.662951
1998   0.255914         5.0   7.631991   9.813917   1.913884   2.876425
1999   0.986557         5.0  10.250437  11.637955   3.448690   3.859915
2000   2.503509         5.0  14.085954  14.310566   4.779155   5.754923
2001   4.481308         5.0  18.623333  15.905667   6.638127   8.196373
2002   6.894930         5.0  22.150727  16.463058   8.439674  11.362506
2003   9.530541         5.0  26.236992  17.640038  10.608214  15.067108
2004  12.707191         5.0  33.065893  18.441406  14.671869  24.972414
2005  17.233489         5.0  43.010969  18.958384  19.836228  30.148651


            50%        75%        max
year
1995   0.763384   0.765273  12.717605
1996   1.115775   1.427301  16.373812
1997   1.868165   3.391518  20.305881
1998   3.534421   4.744385  25.090839
1999   5.096626   8.025796  30.821160
2000   6.744725  14.383759  38.767207
2001  11.378604  21.890150  45.013409
2002  16.082504  25.692644  49.176305
2003  20.944882  29.383866  55.180894
2004  25.818915  36.991519  62.874751
2005  44.696199  51.751555  68.622210

# 6. **filters and pivots**#

In [75]:

#filter by company name and save it

China = dd.filter(like= "China", axis=0)
print(China)

             Country Code                              Indicator Name PHONE   \
country year
China   1995          CHN  Suscripciones a telefonía celular móvil (por c...
        1996          CHN  Suscripciones a telefonía celular móvil (por c...
        1997          CHN  Suscripciones a telefonía celular móvil (por c...
        1998          CHN  Suscripciones a telefonía celular móvil (por c...
        1999          CHN  Suscripciones a telefonía celular móvil (por c...
        2000          CHN  Suscripciones a telefonía celular móvil (por c...
        2001          CHN  Suscripciones a telefonía celular móvil (por c...
        2002          CHN  Suscripciones a telefonía celular móvil (por c...
        2003          CHN  Suscripciones a telefonía celular móvil (por c...
        2004          CHN  Suscripciones a telefonía celular móvil (por c...
        2005          CHN  Suscripciones a telefonía celular móvil (por c...

              values sets                        Indicator Name Banda ancha   \
country year
China   1995     0.297912  Suscripciones a banda ancha fija (por cada 100...
        1996     0.557926  Suscripciones a banda ancha fija (por cada 100...
        1997     1.069073  Suscripciones a banda ancha fija (por cada 100...
        1998     1.913884  Suscripciones a banda ancha fija (por cada 100...
        1999     3.448690  Suscripciones a banda ancha fija (por cada 100...
        2000     6.744725  Suscripciones a banda ancha fija (por cada 100...
        2001    11.378604  Suscripciones a banda ancha fija (por cada 100...
        2002    16.082504  Suscripciones a banda ancha fija (por cada 100...
        2003    20.944882  Suscripciones a banda ancha fija (por cada 100...
        2004    25.818915  Suscripciones a banda ancha fija (por cada 100...
        2005    30.148651  Suscripciones a banda ancha fija (por cada 100...

              values bbnd year_str
country year
China   1995     0.000000     1995
        1996     0.000000     1996
        1997     0.000000     1997
        1998     0.000000     1998
        1999     0.000000     1999
        2000     0.001793     2000
        2001     0.026422     2001
        2002     0.257508     2002
        2003     0.870451     2003
        2004     1.923142     2004
        2005     2.862316     2005

In [77]:
# filter by period name and save it 

p2005 = dd.filter(like= "2005",axis=0)
print(p2005)

                    Country Code  \
country        year
China          2005          CHN
Colombia       2005          COL
México         2005          MEX
Perú           2005          PER
Estados Unidos 2005          USA

                                                 Indicator Name PHONE   \
country        year
China          2005  Suscripciones a telefonía celular móvil (por c...
Colombia       2005  Suscripciones a telefonía celular móvil (por c...
México         2005  Suscripciones a telefonía celular móvil (por c...
Perú           2005  Suscripciones a telefonía celular móvil (por c...
Estados Unidos 2005  Suscripciones a telefonía celular móvil (por c...

                     values sets  \
country        year
China          2005    30.148651
Colombia       2005    51.751555
México         2005    44.696199
Perú           2005    19.836228
Estados Unidos 2005    68.622210

                                           Indicator Name Banda ancha   \
country        year
China          2005  Suscripciones a banda ancha fija (por cada 100...
Colombia       2005  Suscripciones a banda ancha fija (por cada 100...
México         2005  Suscripciones a banda ancha fija (por cada 100...
Perú           2005  Suscripciones a banda ancha fija (por cada 100...
Estados Unidos 2005  Suscripciones a banda ancha fija (por cada 100...

                     values bbnd year_str
country        year
China          2005     2.862316     2005
Colombia       2005     0.754798     2005
México         2005     1.823130     2005
Perú           2005     1.252775     2005
Estados Unidos 2005    17.233489     2005

In [ ]:
# creating is a dataframe with the series of #sets

ts_suc =d.pivot(index = "PERIOD",
                   COLUMNS = "country")

# **7 Basic Line/ Bar graph

In [ ]:
#line gragh: what we want to show is how many Phone subscribers there were from 1995 to 2005.